h1 {
  text-align: center;
  padding: 0;
}
img {
  height: auto;
  width: 98%;
}
.img1 {
  z-index: 1;
  position: absolute;
  height: 75px;
  width: 75px;
  top: 10px;
  left: 20px;
  padding-top: 55px;
  padding-left: 10px;
}
.img2 {
  z-index: 2;
  position: absolute;
  height: 75px;
  width: 75px;
  top: 90px;
  left: 20px;
  padding-top: 55px;
  padding-left: 10px
}
#BoWins {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
#BarryWins {
  display: none;
  z-index: 3;
}
.field_wrapper{
  position: relative;
}
p {
  padding: 0;
}
