body {
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 280px;
}
h1 {
  text-align: center;
}
img {
  height: 50px;
  width: 50px;
  margin: 0px;
}
