h1 {
  text-align: center;
  padding: 0;
}
img {
  position: absolute;
  height: 50%;
  width: 98%;
}
.img1 {
  z-index: 1;
  position: relative;
  height: 75px;
  width: 75px;
  padding-top: 55px;
  padding-left: 10px;
}
.img2 {
  z-index: 1;
  position: relative;
  height: 75px;
  width: 75px;
  padding-top: 55px;
  padding-left: 10px
}

p {
  padding: 0;
}
